@import "tailwindcss";
@tailwind utilities;

@layer base {
 


}

:root {
  --primary: #22c55e;
  --primary-hover: #16a34a;
  --primary-foreground: #ffffff;
  --secondary: #f8fafc;
  --secondary-foreground: #0f172a;
  --accent: #e2f8e9;
  --accent-foreground: #16a34a;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #22c55e;
  --background: #f8fafc;
  --foreground: #0f172a;
  --radius: 0.5rem;
}
